<mat-grid-list *ngFor="let row of board" class="board shadow" cols="5" rowHeight="1:1">
  <mat-grid-tile *ngFor="let col of row"
  [colspan]='col.cols'
  [rowspan]='col.rows'
  [ngClass]='{"piece-selected":col.selected}'
  class="position "
  (click) = "setSelected(col.row,col.col,col.piece)">
  <div class="full-size" [style.background]='col.color'></div>
  <div [ngClass]='{"piece-blue":col.piece==1,"piece-red":col.piece==2,"piece-green":col.piece==3,"piece":col.piece}'>
  </div>
  </mat-grid-tile>
</mat-grid-list>

  